/* ---- Clearfixes ---- */
.row:before,
.row:after,
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.row:after,
.clearfix:after {
  clear: both;
}
.row,
.clearfix {
  zoom: 1;
}
/* ---- GRID Layout ---- */
.grid {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
/* You can choose the grid 1200 or 1140 or 1024 or 960 as per your requirement */
.g1140 {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}
.g1024 {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}
.g960 {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}
.row {
  width: 100%;
  margin: 0 auto;
}
.c1 {
  width: 8.33%;
}
.c2 {
  width: 16.66%;
}
.c3 {
  width: 25%;
}
.c4 {
  width: 33.33%;
}
.c5 {
  width: 41.66%;
}
.c6 {
  width: 50%;
}
.c7 {
  width: 58.33%;
}
.c8 {
  width: 66.66%;
}
.c9 {
  width: 75%;
}
.c10 {
  width: 83.33%;
}
.c11 {
  width: 91.66%;
}
.c12 {
  width: 100%;
  min-height: 1px;
  float: left;
  position: relative;
}
.c1-5 {
  width: 20%;
}
/* This column can be used as a one fifth of the row */
.c1-8 {
  width: 12.5%;
}
/* This column can be used as a one eigth of the row */
.c1,
.c2,
.c3,
.c4,
.c5,
.c6,
.c7,
.c8,
.c9,
.c10,
.c11,
.c1-5,
.c1-8 {
  min-height: 1px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}
.c1.first,
.c2.first,
.c3.first,
.c4.first,
.c5.first,
.c6.first,
.c7.first,
.c8.first,
.c9.first,
.c10.first,
.c11.first,
.c1-5.first,
.c1-8.first {
  padding-left: 0;
  position: relative;
}
.c1.last,
.c2.last,
.c3.last,
.c4.last,
.c5.last,
.c6.last,
.c7.last,
.c8.last,
.c9.last,
.c10.last,
.c11.last,
.c1-5.last,
.c1-8.last {
  padding-right: 0;
  position: relative;
}
/* ---- Alignments ---- */
.centered {
  float: none;
  margin: auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.left {
  float: left;
}
.right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.space-all {
  margin: 20px;
}
.space-top {
  margin-top: 20px;
}
.space-bot {
  margin-bottom: 20px;
}
.space-left {
  margin-left: 20px;
}
.space-right {
  margin-right: 20px;
}
.space-h {
  margin: 20px 0;
}
.space-v {
  margin: 0 20px;
}
.space-small-all {
  margin: 10px;
}
.space-small-top {
  margin-top: 10px;
}
.space-small-bot {
  margin-bottom: 10px;
}
.space-small-left {
  margin-left: 10px;
}
.space-small-right {
  margin-right: 10px;
}
.space-small-h {
  margin: 10px 0;
}
.space-small-v {
  margin: 0 10px;
}
.space-min-all {
  margin: 5px;
}
.space-min-top {
  margin-top: 5px;
}
.space-min-bot {
  margin-bottom: 5px;
}
.space-min-left {
  margin-left: 5px;
}
.space-min-right {
  margin-right: 5px;
}
.space-min-h {
  margin: 5px 0;
}
.space-min-v {
  margin: 0 5px;
}
.padding-all {
  padding-top: 20px;
}
.padding-top {
  padding-top: 20px;
}
.padding-bot {
  padding-bottom: 20px;
}
.padding-left {
  padding-left: 20px;
}
.padding-right {
  padding-right: 20px;
}
.padding-h {
  padding: 20px 0;
}
.padding-v {
  padding: 0 20px;
}
.padding-small-all {
  padding-top: 10px;
}
.padding-small-top {
  padding-top: 10px;
}
.padding-small-bot {
  padding-bottom: 10px;
}
.padding-small-left {
  padding-left: 10px;
}
.padding-small-right {
  padding-right: 10px;
}
.padding-small-h {
  padding: 10px 0;
}
.padding-small-v {
  padding: 0 10px;
}
.padding-min-all {
  padding: 5px;
}
.padding-min-top {
  padding-top: 5px;
}
.padding-min-bot {
  padding-bottom: 5px;
}
.padding-min-left {
  padding-left: 5px;
}
.padding-min-right {
  padding-right: 5px;
}
.padding-min-h {
  padding: 5px 0;
}
.padding-min-v {
  padding: 0 5px;
}
