@font-face {
    font-family: 'open_sans_regular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_light';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_bold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	font-size: 16px ;
     background:url(../img/fondo.png) ;
     background-repeat: repeat;
}
.border-container{
	/*background: white;*/
	background: #fcfcfc;
	border-left: 4px solid #abdc28;
	border-radius: 20px;
	border-right: 4px solid #abdc28;
	bottom: 30px;
	font-size: 19px;
	max-height: 475px ;
	min-height: 475px;
	opacity: 0.7;
	overflow: auto ;
	position: relative;
 	top:2px;
 		-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}
.menu {
	font-family: 'open_sans_regular';
    height: 42px ;
}
.nav a {
	text-decoration:none;
}
.nav li {
	list-style:none;
}
.menu, .nav li a.primero {
	background: #9dd53a; /* Old browsers */
	background: -moz-linear-gradient(top, #9dd53a 0%, #80c217 0%, #80c217 5%, #a1d54f 50%, #80c217 86%, #7cbc0a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(0%,#80c217), color-stop(5%,#80c217), color-stop(50%,#a1d54f), color-stop(86%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #9dd53a 0%,#80c217 0%,#80c217 5%,#a1d54f 50%,#80c217 86%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #9dd53a 0%,#80c217 0%,#80c217 5%,#a1d54f 50%,#80c217 86%,#7cbc0a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #9dd53a 0%,#80c217 0%,#80c217 5%,#a1d54f 50%,#80c217 86%,#7cbc0a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #9dd53a 0%,#80c217 0%,#80c217 5%,#a1d54f 50%,#80c217 86%,#7cbc0a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
}
.nav > li {
	float:left;
	z-index: 10;
}

.nav li a {
	border-right: 1px dotted ;
	color:#FFF;
	display:block;
	padding:10px 10px;
}

.nav li .flecha{
	display: none;
	font-size: 0.6rem;
	padding-left: 4px ;
}
.nav li ul .flecha{
	float:right;
	font-size: 9px;
}

.nav li a:not(:last-child) .flecha {
	display: inline;
}

.nav li a:hover ,
.nav li a:active{
	background:#619A0B;
}

.nav li {
	position:relative;
}

.nav li ul {
	background: #9dd53a;
	display:none;
	min-width:150px;
	position:absolute;
	max-width: 100% ;
}

.nav li:hover > ul {
	display:block;
}

.nav li ul li ul {
	float: right;
	right:-145px;
	position:absolute;
	top:0;
}

.nav li ul li  {
	width:100%
}
.botonera , .title-user{
	list-style: none;
}
.botonera li , .title-user li{
	display: inline;
}
.botonera li a {
	text-decoration: none;
}
.name-user{
	font-size: 12px ;
	font-weight: bold ;
}
.title-menu{
	font-size: 20px;
}
.MsjAlert{
	color: #F30C1F;
	font-size: 11px ;
	text-transform: uppercase;
}