
/* ---- Forms ---- */
.vform {width: 100%; max-width: 320px;}
.hform {width: 100%; max-width: 420px;}
.vform, .hform {margin-bottom: 20px; font:14px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #333;}

.vform label {width: 100%; margin-bottom: 5px; }
.hform label {width: 40%; margin-bottom: 10px; }
.vform label, .hform label {font-size: 14px; line-height: 21px; vertical-align: middle; display: block; float: left; text-align: left;}

.vform textarea, .vform input[type="text"], .vform input[type="password"], .vform input[type="datetime"], .vform input[type="datetime-local"], .vform input[type="date"],
.vform input[type="month"], .vform input[type="time"], .vform input[type="week"], .vform input[type="number"], .vform input[type="email"], .vform input[type="url"],
.vform input[type="tel"], .vform input[type="color"], .vform select{
	width: 100%;
}
.hform textarea, .hform input[type="text"], .hform input[type="password"], .hform input[type="datetime"], .hform input[type="datetime-local"], .hform input[type="date"],
.hform input[type="month"], .hform input[type="time"], .hform input[type="week"], .hform input[type="number"], .hform input[type="email"], .hform input[type="url"],
.hform input[type="tel"], .hform input[type="color"], .hform select {
	width: 60%;
}

.vform textarea, .vform input[type="text"], .vform input[type="password"], .vform input[type="datetime"], .vform input[type="datetime-local"], .vform input[type="date"],
.vform input[type="month"], .vform input[type="time"], .vform input[type="week"], .vform input[type="number"], .vform input[type="email"], .vform input[type="url"],
.vform input[type="tel"], .vform input[type="color"], .vform select, .vform input[type=file],
.hform textarea, .hform input[type="text"], .hform input[type="password"], .hform input[type="datetime"], .hform input[type="datetime-local"], .hform input[type="date"],
.hform input[type="month"], .hform input[type="time"], .hform input[type="week"], .hform input[type="number"], .hform input[type="email"], .hform input[type="url"],
.hform input[type="tel"], .hform input[type="color"], .hform select, .hform input[type=file] {
	display: block;
	background: #ffffff;
	border: 1px solid #cccccc;
	padding: 5px 10px;
	vertical-align: middle;
	outline: none;
			border-radius: 4px;
	   -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
			transition: border linear 0.4s, box-shadow linear 0.4s;
		 -o-transition: border linear 0.4s, box-shadow linear 0.4s;
	   -moz-transition: border linear 0.4s, box-shadow linear 0.4s;
	-webkit-transition: border linear 0.4s, box-shadow linear 0.4s;
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 21px;
	height: 30px;
}
.vform input[type="text"]:focus, .vform input[type="password"]:focus, .vform input[type="datetime"]:focus, .vform input[type="email"]:focus,
.vform input[type="datetime-local"]:focus, .vform input[type="date"]:focus, .vform input[type="month"]:focus, .vform input[type="time"]:focus,
.vform input[type="week"]:focus, .vform input[type="url"]:focus, .vform input[type="number"]:focus, .vform input[type="search"]:focus, .vform input[type="tel"]:focus,
.vform textarea:focus,
.hform textarea:focus, .hform input[type="text"]:focus, .hform input[type="password"]:focus, .hform input[type="datetime"]:focus,
.hform input[type="datetime-local"]:focus, .hform input[type="date"]:focus, .hform input[type="month"]:focus, .hform input[type="time"]:focus,
.hform input[type="week"]:focus, .hform input[type="number"]:focus, .hform input[type="email"]:focus, .hform input[type="url"]:focus, .hform input[type="search"]:focus,
.hform input[type="tel"]:focus, .hform input[type="color"]:focus{
  border: 1px solid;
  border-color: rgba(82, 168, 236, 0.8);
  color: #444;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(81, 168, 236, 0.5);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(81, 168, 236, 0.5);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(81, 168, 236, 0.5);
}
.vform textarea, .hform textarea{min-height: 120px; }
.vform fieldset, .hform fieldset {margin-bottom: 10px; }
.vform input[type="file"], .hform input[type="file"] {overflow: none;}
/* conjoined inputs */
.vform span.pre, .hform span.pre, .vform span.post, .hform span.post {
	display: block;
	background-color: #f2f2f2;
	border: 1px solid #cccccc;
	color: #222222;
	font-size: 13px;
	line-height: 18px;
	height: 30px;
	position: relative;
	padding: 5px 10px;
}
.vform span.pre, .hform span.pre{margin-right: -1px; float: left;	}
.vform span.post, .hform span.post{margin-left: -1px; float: left;}
.vform input.post, .hform input.post, .vform span.pre, .hform span.pre{
         border-radius: 4px 0 0 4px;
	   -moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
}
.vform input.pre, .hform input.pre, .vform span.post, .hform span.post{
         border-radius: 0 4px 4px 0;
	   -moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
}
.vform input.pre, .vform input.post{width:75%; float:left; height: 30px;}
.hform input.pre, .hform input.post{width:45%; float:left; height: 30px;}
.vform input.pre-post{width: 70%; float: left; height: 30px; border-radius: 0;}
.hform input.pre-post{width: 40%; float: left; height: 30px; border-radius: 0;}
.vform span[type="submit"].post, .hform span[type="submit"].post, .vform span[type="submit"].pre, .hform span[type="submit"].pre{
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: linear-gradient(top, #f9f9f9, #efefef);
	background-image: -ms-linear-gradient(top, #f9f9f9, #efefef);
	background-image: -moz-linear-gradient(top, #f9f9f9, #efefef);
	background-image: -webkit-linear-gradient(top, #f9f9f9, #efefef);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#efefef');
}
.vform span[type="submit"].post:hover, .hform span[type="submit"].post:hover, .vform span[type="submit"].pre:hover, .hform span[type="submit"].pre:hover{
	background:#eee;
	background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#f8f8f8));
	background:-moz-linear-gradient(top, #eee, #f8f8f8);
}