<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>prueba Form uno </title>
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/grid.css">
	<link rel="stylesheet" href="../css/form.css">
</head>
<body>
	<div class="c6">
		<div class="vform">
			<h2> vertical form 1 </h2>
			<form action="">
				<label for=""> label 1</label>
				<input type="text">
				<label for=""> label 2</label>
				<input type="text">
				<label for=""> label 3</label>
				<input type="text">
			</form>
		</div>
	</div>

	<div class="c6">
		<div class="vform">
			<form action="">
				<fieldset class="c12">
					<label for=""> label 1</label>
					<input type="text">
				</fieldset>

				<fieldset class="c6">
					<label for=""> label 1</label>
					<input type="text">
				</fieldset>

				<fieldset class="c6">
					<label for=""> label 1</label>
					<input type="text">
				</fieldset>
			</form>
		</div>
	</div>

<p class="clear"></p>
	<div class="hform">
		<h2> horizontal form  </h2>
		<form action="">
			<label for=""> label 1</label>
			<input type="text">
			<label for=""> label 2</label>
			<input type="text">
			<label for=""> label 3</label>
			<input type="text">
		</form>
	</div>

	<div class="c6">
		<div class="hform c12">
			<h2> vertical form 1 </h2>
			<form action="">
				<fieldset class="c6">
					<label for=""> label 1</label>
					<input type="text">
				</fieldset>

				<fieldset class="c6">
					<label for=""> label 1</label>
					<input type="text">
				</fieldset>

				<fieldset class="c6">
					<label for=""> label 1</label>
					<input type="text">
				</fieldset>
			</form>
		</div>
	</div>

</body>
</html>