<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>prueba tabla uno </title>
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/grid.css">
	<link rel="stylesheet" href="../css/table.css">

</head>
<body>
<p>df</p>
	<div class="g1024">
		<div class="c12">
			<p>tabbla normal</p>
			<table class="table table-hover table-zebra " >
				<thead>
					<tr>
						<th> titulo 1</th>
						<th> titulo 2</th>
						<th> titulo 3</td>
					</tr>
				</thead>
				<tbody >
					<tr class="text-center" >
						<td >datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>

					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="c6">
			<p>tabbla small</p>

			<table class="table table-hover table-zebra td-small " >
				<thead>
					<tr>
						<th> titulo 1</th>
						<th> titulo 2</th>
						<th> titulo 3</td>
					</tr>
				</thead>
				<tbody >
					<tr class="text-center" >
						<td >datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>

					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="c6">
			<p>tabbla min</p>

			<table class="table table-hover table-zebra td-min " >
				<thead>
					<tr>
						<th> titulo 1</th>
						<th> titulo 2</th>
						<th> titulo 3</td>
					</tr>
				</thead>
				<tbody >
					<tr class="text-center" >
						<td >datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>

					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
					<tr>
						<td>datos datoas</td>
						<td>datos datoas</td>
						<td>datos datoas</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>